<section>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Beschreibung</div>

                <div class="panel-body">

                    <div class="row">
                        <form class="form-horizontal">
                        <div class="col-md-12">


                                <fieldset>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="textinput">Gallery Name</label>
                                        <div class="col-md-4">
                                            <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
                                        </div>
                                    </div>

                                    <!-- Select Basic -->
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="selectbasic">Select Basic</label>
                                        <div class="col-md-4">
                                            <select id="selectbasic" name="selectbasic" class="form-control">
                                                <option value="1">Option one</option>
                                                <option value="2">Option two</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Textarea -->
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="textarea">Text Area</label>
                                        <div class="col-md-10">
                                            <textarea style="width: 100%;height: 50vh" class="form-control" id="textarea" name="textarea">default text</textarea>
                                        </div>
                                    </div>
                                </fieldset>



                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Upload</div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-success btn-s"
                                    (click)="uploadAll()"
                                    [disabled]="!(uploader.getNotUploadedItems().length)">
                                <span class="glyphicon glyphicon-upload"></span> Upload all
                            </button>
                            <button type="button" class="btn btn-warning btn-s"
                                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                            </button>
                            <button type="button" class="btn btn-danger btn-s"
                                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> Remove all
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <div>
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar"
                                             [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div ng2FileDrop
                                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                                 (fileOver)="fileOverBase($event)"
                                 [uploader]="uploader"
                                 class="well my-drop-zone" style="text-align: left;vertical-align: text-top;height: 200px;min-height: 200px">
                                <div class="row">

                                <div class="col-md-5" *ngFor="let item of uploader.queue; let i = index">
                                    <strong>{{ item?.file?.name }}</strong> <small>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</small>
                                </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Thumbnail Gallery</div>
                                <div class="panel-body">
                                    <div class="row">

                                        <div class="col-md-12">

                                            <div class="row text-center text-lg-left">


                                                <div *ngFor="let r of responseItems"  class="col-lg-3 col-md-4 col-xs-6">
                                                    <img style="height: 70px;width: 100px;" (click)="r.preview=!r.preview"  [ngClass]="{'thumbnailBorderActiv':r.preview}"  class="img-fluid img-thumbnail"  src="data:image/jpg;base64,{{r.thumbnail}}">
                                                    <br>
                                                    <br>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="true" class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th>Size</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of uploader.queue; let i = index">
                                    <!--
                                    <td><input [(ngModel)]="thumbnail" value="{{i}}" name="thumbnail" type="radio"/>

                                    </td>
                                      -->
                                    <td><strong>{{ item?.file?.name }}</strong></td>
                                    <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }}
                                        MB
                                    </td>
                                    <td *ngIf="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar"
                                                 [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span *ngIf="item.isCancel"><i
                                                class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-danger btn-xs"
                                                (click)="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</section>