<nav>
    <ul>
        <li *ngIf="hasPermisson('dashboard')">
            <a routerLink="/dashboard">Dasboard</a>
        </li>
        <li *ngIf="hasPermisson('gallery.index')">
            <a routerLink="/gallery">Gallery</a>
        </li>
        <li *ngIf="hasPermisson('admin.dashboard')">
            <a routerLink="/admin">Admin</a>
        </li>
        <li *ngIf="!isAuthenticated()">
            <a routerLink="/login">Login</a>

        </li>
        <li *ngIf="isAuthenticated()">
            <a (click)="logout()">Logout</a>

        </li>


    </ul>
</nav>