<h4 style="text-align: center">Test VIDEO instance</h4>
<div class="row">
    <div class="col-md-6">



        <div class="card">
            <div class="card-header">
                Local-Video
            </div>
            <div class="card-block">
                <div class="local-videobox ">
                    <video controls id="local-video"></video>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-6">

        <div class="card">
            <div class="card-header">
                Remote-Videos
            </div>
            <div class="card-block">

                <div #videos class="remote-videobox"  id="remote-video"></div>

            </div>
        </div>


    </div>
</div>



