/*
 * Base structure
 */


@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Typography
 */

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

main {
    margin-top: 50px;
}

.remote-videobox video {
    width: 100%;
}
.local-videobox video {
    width: 100%;
}
.simple-notification-wrapper {
    z-index: 2000!important;
}